# Build results
**/[Xx]64/[Rr]elease/

# Compiled Object files and Library
*.o
*.obj
*.lib

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
